{% extends 'base.html' %}
{% load static %}


{% block head_title %}Record A.Day - R.A.D{% endblock head_title %}


{% block content %}
<h2>Super fast daily notes.</h2>

<p>
  Write about daily reflections, achievements, or accomplishments.
</p>
<p>
  Like a <a href="https://www.intelligentchange.com/products/the-five-minute-journal">five minute journal</a> without marketing budgets and celebrity endorsements.
</p>
<img src="{% static 'images/editor_screenshot.png' %}" alt="Screenshot" style="max-width:75%;margin:auto;margin-top:1.5em;display:block;">

{% endblock content %}