{% extends 'base.html' %}

{% block head_title %}Profile{% endblock head_title %}

{% block content %}
<h2>Profile</h2>
<p>Logged in as {{ user.email }}</p>

<ul>
    <li><a href="{% url 'account_change_password' %}">Change password</a></li>
    <li><a href="{% url 'account_logout' %}">Sign out</a></li>
</ul>

<hr>
<br>
<p>Change default headings for daily records below:

<form action="" method="post">
    {% csrf_token %}
    {{ record_setting_form.as_p }}
    <input type="submit" value="Update">
</form>
</p>
{% endblock content %}