:root {
  --primary-color: #252525;
  --link-color: #089ce7;
  --link-decoration: underline solid #089ce7 .1em;
  --link-decoration-hover: underline solid #089ce7 .125em;
}

html {
  max-width: 70ch;
  /* top | right | bottom | left */
  padding: 2em 1em 2em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: pt sans, sans-serif;
  color: var(--primary-color);
}


/* Header styles
-------------------------------------------------- */

body header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1;
  font-size: 1.1em;
  padding-bottom: 4em;
}

body header span {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

body header span a:not(:last-of-type) {
  margin-right: 2ch;
}

body header span a {
  text-decoration: none;
}

body header span a strong {
  font-size: 1.5em;
}

/* Main styles
-------------------------------------------------- */


a {
  color: currentColor;
  text-decoration: var(--link-decoration);
  text-underline-offset: .1em;
}

:any-link:hover {
  text-decoration: var(--link-decoration-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 1.5em;
}


/* Footer styles
-------------------------------------------------- */
body footer {
  margin-top: 3em;
  text-align: center;
  font-size: .75em;
}


/* Form field styles
-------------------------------------------------- */


label,
input,
textarea,
button {
  display: block;
}

input,
textarea {
  margin-block-start: .25em;
  padding: .75em;
  border: solid 2px #089ce7;
  border-radius: .5em;
  box-shadow: 3px 3px 3px #6666662b;
}

textarea {
  width: 100%;
  height: 20em;
}