<form id="log_update_form" method="post" class="">
    <p>
        <label for="id_date">Date:</label>
        <input type="date" name="date" value="{{ log.date_y_m_d }}" required id="id_date" hx-swap="outerHTML"
            hx-target="#log_update_form" hx-trigger="change" hx-get="{% url 'log:update_form' %}">
    </p>
    <p>
        <label for="id_title">Summary:</label>
        <textarea type="text" name="title" maxlength="255" style="height:2.25em;width: calc(75%);" id="id_title"
            required hx-trigger="keyup changed delay:1.5s" hx-post="{% url 'log:update_form' %}"
            hx-include="[name='content'], [name='title'], [name='date']">{{ log.title }}</textarea>
    </p>
    <p>
        <label for="id_content">Content:</label>
        <textarea name="content" id="id_content" style="width: calc(100% - 15px);" required
            hx-trigger="keyup changed delay:1.5s" hx-post="{% url 'log:update_form' %}"
            hx-include="[name='content'], [name='title'], [name='date']">{{log.content}}</textarea>
    </p>
</form>