{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}DjangoX{% endblock title %}</title>
  <meta name="description"
    content="A webapp for simple daily logs for accomplishments, achievements, reflections, and more.">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block css %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/basic.css' %}">
  {% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <header>
    <h1>Log a Day!</h1>
    {% block nav %}
    <strong>
      <a href="{% url 'pages:home' %}">Home</a>
    </strong>
    {% if user.is_authenticated %}
    <strong>
      <a href="{% url 'log:update_today' %}">Today</a>
    </strong>
    <strong>
      <a href="{% url 'log:list' %}">All</a>
    </strong>
    <strong>
      <a href="{% url 'pages:profile' %}">{{ user.email }}</a>
    </strong>
    {% else %}
    <strong>
      <a href="{% url 'account_login' %}">Log in</a>
    </strong>
    <strong>
      <a href="{% url 'account_signup' %}">Sign up</a>
    </strong>
    {% endif %}
    {% endblock nav %}
  </header>

  <main>
    {% block content %}
    <p>Default content...</p>
    {% endblock content %}
  </main>

  <footer>
    <small>
      &copy; 2023-{% now "Y" %} | <a href="https://github.com/sglmr/logaday">Source Code</a>
    </small>
  </footer>

  {% block javascript %}

  <!-- Project JS -->
  <script src="{% static 'js/htmx_1-8-5.js' %}"></script>

  {% endblock javascript %}

</body>

</html>